@import url("/styles/global-styles.css");

.titulo-principal{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: rgb(99, 47, 27);
  font-size: 2.5vw; 
  position: absolute;
  width: 100%;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap; 
}
.banner-container {
  position: relative;
  max-width: auto;
  margin: 0 auto;
}
.banner {
  width: 100%;
  height: auto;
}

.principal {
  display: flex;
  flex-direction: column;
}

.parrafo-imagen, .imagen-parrafo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.parrafo-imagen img {
  margin-right: 20px;
}

.imagen-parrafo img {
  margin-left: 20px;
}