@import url("/styles/global-styles.css");

section{
  padding: 0% 10%;
  margin: 0 auto;
  max-width: auto;
}

.titulo-principal{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: rgb(99, 47, 27);
  font-size: 2.5vw; 
  position: absolute;
  width: 100%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap; 
}
.banner-container {
  position: relative;
  max-width: auto;
  margin: 0 auto;
}

.banner {
  width: 100%;
  height: auto;
}

.principal, .ubicacion{
  width: 60%;
}

.principal img {
  width: 30%;
  height: auto;
  border-radius: 20px;
  margin: 10px auto;
}

.principal div {
  display: flex;
  align-items: center;
}

.principal .parrafo-img {
  margin: 0 40px 0 40px;
  text-align: center;
}

.principal div:nth-child(odd) {
  flex-direction: row;
}

.principal div:nth-child(even) {
  flex-direction: row-reverse;
}

.ubicacion h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: rgb(99, 47, 27);
  font-size: 2.5vw;
  margin: 10px 0 0 0;
}

.ubicacion p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: rgb(99, 47, 27);
  font-size: 1.5vw;
  margin: 5px 0 30px 0;

}

.ubicacion iframe {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  padding: 0 0 1em 0;
}