@import url("global-styles.css");

.product{
    width: auto;
    margin: 0 auto;
    padding: 50px;
}

.product li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 30px;
}

.product li:hover{
    color: rgb(107, 96, 80);
    border-color: rgb(167, 154, 135);
}

.product h2{
    font-family: "BingooWood";
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;
}

.product li:hover h2{
    font-size: 25px;
}

.product img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.prod-desc{
    font-size: 20px;
    max-width: 300px;
    margin: 0 auto;
    word-wrap: break-word;
}

.prod-price{
    font-size: 25px;
    font-weight: bold;
    word-wrap: break-word;
}
