@font-face {
    font-family: "BinggoWood";
    src: url("../fonts/BinggoWood.ttf") format("truetype"),
        url("../fonts/BinggoWood.otf") format("opentype"),
        url("../fonts/BinggoWood.woff") format("woff"),
        url("../fonts/BinggoWood.woff2") format("woff2");
}

html{
    background-color: #F4F4F4 ;
}

body {
    margin: 0;
    padding: 0;
}

header{
    position: relative;
    background-color: #dfdede;
    margin: auto;
    text-align: center;
}
.head_box h1{
    display:  inline-block;
}

.logo_hor{
    max-width: 100%;
    height: 45px;
}

nav.menu{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

nav li{
    display: inline;   
}
nav a {
    font-family: "BinggoWood";
    padding: 8px;
    text-transform: capitalize;
    font-size: 18px;
    text-decoration: none;
    color: #654F50;
}

nav a:hover{
    color: rgb(219, 199, 166);
}

.product{
    width: auto;
    margin: 0 auto;
    padding: 50px;
}

.product li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 70px;
}

.product li:hover{
    color: rgb(107, 96, 80);
    border-color: rgb(167, 154, 135);
}


.product h2{
    font-family: "BingooWood";
    font-size: 20px;
    font-weight: bold;
}

.product li:hover h2{
    font-size: 25px;
}

.product img{
    width: 300px;
    height: 320px;
}

.prod-desc{
    font-size: 20px;
    max-width: 300px;
    margin: 0 auto;
}

.prod-price{
    font-size: 25px;
    font-weight: bold;
}

footer{
    background: url(/img/textura.PNG);
    padding: 5px;
}


.foot{
    text-align: center;
    background-color: black;
}

.foot img{
    display: inline-block;
    width: 150px;
}

#logo-vertical{
    width: 80px;
}

.copyright{
    font-size: 10px;
    font-weight: bold;
    margin: 25px;
}